<section class="about-us">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <main>
    <img src="https://www.telegraph.co.uk/content/dam/Travel/2018/September/El-Yunque-morning-mist-iStock-535499464.jpg" alt="jungle">
    <div class="text-block">
      <h3>Explore the Friendly Jungle</h3><br>
      <p>
        Like the magical jungle with an abundance of life at every corner, 
        our store has a variety of amazing products that will surprise you.
      </p>
    </div>
  </main>
  
</section>